@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .account-form-container {
    @apply md:bg-white md:border rounded-sm flex flex-col;
  }

  .btn-primary {
    @apply bg-accent text-white rounded px-2.5 py-1.5 text-sm font-semibold text-center active:bg-accent/70 disabled:bg-accent/30;
  }

  .btn-outline {
    @apply text-neutral-800 border rounded px-2.5 py-1.5 text-sm font-semibold text-center active:opacity-70 disabled:opacity-30;
  }

  .btn-text-primary {
    @apply text-accent bg-white text-sm font-semibold text-center active:text-accent/70 disabled:bg-accent/30;
  }

  .back-link {
    @apply block active:opacity-70 text-neutral-800 text-center font-semibold text-sm;
  }

  .dialog-btn {
    @apply cursor-pointer px-2 py-1 text-sm font-bold active:bg-black/10;
  }
}

@layer utilities {
  .text-1\.5xl {
    font-size: 1.375rem /* 22px */;
    line-height: 1.875rem /* 30px */;
  }

  .py-0\.75 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .scale-83 {
    --tw-scale-x: 0.83333;
    --tw-scale-y: 0.83333;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}

.inst-ring {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%
  );
}

.swiper-slide {
  width: 80px !important;
}
