@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .account-form-container {
    @apply md:bg-white md:border rounded-sm flex flex-col;
  }

  .btn-primary {
    @apply bg-accent text-white rounded px-2.5 py-1.5 text-sm font-semibold text-center active:bg-accent/70 disabled:active:bg-accent/70;
  }

  .btn-text-primary {
    @apply text-accent bg-white text-sm font-semibold text-center active:text-accent/70 disabled:active:bg-accent/70;
  }
}

@layer utilities {
  .text-1\.5xl {
    font-size: 1.375rem /* 22px */;
    line-height: 1.875rem /* 30px */;
  }

  .py-0\.75 {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .scale-83 {
    --tw-scale-x: 0.83333;
    --tw-scale-y: 0.83333;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}
